html{
    scroll-behavior: smooth;
}
.menu{
    height: 100%;
    margin: 0;
    background: url("/logo/menu.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
