.menu{
    height: 100%;
    margin: 0;
    background: url("/logo/menu.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.menuLink{
    background-image: url("/logo/menuLink.png");
    background-size: 110px;
    background-repeat: no-repeat;
    width: 110px;
    height: 80px;
    cursor: pointer;
    overflow: hidden;
    padding: 20px 0;
    text-align: center;
    color: white;
    margin-right: 20px;
}
.menuLink:hover{
    color: white;
    text-decoration: none;
    transform: scale(1.2);
}
.menuLink:active{
    transform: scale(0.8);
}
