body{
 /*   background-image: url("/logo/brownWater.jpg");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;*/
    background-color: rgba(225,198,153);
}
.welcomeHeader{
    background-image: url("/logo/Rakpart_KezdoBackground2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: grid;
    height: 100%;
    margin-bottom: 10%;
}



