body{
    background-image: url("/logo/test.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.welcomeHeader{
    margin: 0;
    padding: 0;
    display: grid;
    height: 100%;
    margin-bottom: 10%;
}
.welcome{
    width: 100%;
    max-height: 100vh;
    margin: auto;
}
.menuRecommenderContainer{
    margin: 0;
    padding: 0;
    display: grid;
    height: 100%;
    background-image: url("/logo/darkBrownBoard.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    height: 600px;
}
.menuRecommenderBorder{
    border: 100px solid transparent;
    border-image: url("/logo/ropeBorder.png") 33% round;
}


